<div class="slider">
  <input class="slider__nav" type="radio" name="slider" title="slide1" checked="checked"/>
  <input class="slider__nav" type="radio" name="slider" title="slide2"/>
  <input class="slider__nav" type="radio" name="slider" title="slide3"/>
  <input class="slider__nav" type="radio" name="slider" title="slide4"/>
  <div class="slider__inner">
    <div class="slider__contents"><i class="slider__image fa fa-codepen"></i>
      <h2 class="slider__caption">NETWORK SECURITY</h2>
      <p class="slider__txt">Protect your app</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-newspaper-o"></i>
      <h2 class="slider__caption">Number of searches</h2>
      <p class="slider__txt">Detect the most used hacking method from the search history</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-television"></i>
      <h2 class="slider__caption">television</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <h2 class="slider__caption">Significance</h2>
      <p class="slider__txt">A search app that can respond to dangerous hacks such as XSS attacks and DOS attacks</p>
    </div>
    
  </div>
  
</div>


<nav class="menu-wrapper">
  <button class="menu-btn" has-ripple="true">
    <i></i>
    <i></i>
    <i></i>
    <span class="ripple"></span>
  </button>
  <ul class="menu">
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a href="#" class="menu-item">
            <i class="material-icons">home</i>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
    </li>
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a href="#" class="menu-item">
            <i class="material-icons">face</i>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
    </li>
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a href="#" class="menu-item">
            <i class="material-icons">android</i>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
    </li>
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a href="#" class="menu-item">
            <i class="material-icons">shopping_cart</i>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
    </li>
    <li class="menuitem-wrapper">
      <div class="icon-holder">
        <a href="#" class="menu-item">
            <i class="material-icons">room</i>
        </a>
      </div>
      <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
    </li>
  </ul>
</nav>