<div class="slider">
  <input class="slider__nav" type="radio" name="slider" title="slide1" checked="checked"/>
  <input class="slider__nav" type="radio" name="slider" title="slide2"/>
  <input class="slider__nav" type="radio" name="slider" title="slide3"/>
  <input class="slider__nav" type="radio" name="slider" title="slide4"/>
  <div class="slider__inner">
    
    <div class="slider__contents"><i class="slider__image fa fa-exclamation-triangle"></i>

      <h2 class="slider__caption">NETWORK SECURITY</h2>
      <p class="slider__txt">Protect your app</p>
      <%= link_to "#" do%>
      <div class="wrap">
       <button class="slider__post">Search</button>
      </div>
      <% end %>
    </div>

    <div class="slider__contents"><i class="slider__image fa fa-archive"></i>
      <h2 class="slider__caption">Provide information</h2>
      <p class="slider__txt">Your information protects someone's app</p>
      <%= link_to posts_path do%>
      <div class="wrap">
       <button class="slider__post">Post</button>
      </div>
      <% end %>
    </div>

    <div class="slider__contents"><i class="slider__image fa fa-television"></i>
      <h2 class="slider__caption">television</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-cog"></i>
      <h2 class="slider__caption">Significance</h2>
      <p class="slider__txt">A search app that can respond to dangerous hacks such as XSS attacks and DOS attacks</p>
    </div>
    
  </div>
</div>


